<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IrcBot.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IrcBot.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <dataConfiguration defaultDatabase="IrcBot">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
        name="System.Data.SQLite" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="IrcBot" connectionString="Data source=.\Database\IrcBot.s3db"
      providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="DataSourceType" value="XML" />
    <add key="BotNick" value="ClassicBot" />
    <add key="BotUser" value="USER Bottii 0 * :Botti" />
    <add key="QuitMessage" value="I'm gone" />
    <add key="DoLogging" value="true" />
    <add key="LogFileName" value="botlog.log" />
    <add key="LogDirectory" value=".\\logs\\" />
    <add key="ScriptsDirectory" value=".\\scripts\\" />
    <add key="ScriptsErrorDirectory" value=".\\scripts\\errors\\" />
    <add key="ScriptsBackupDirectory" value=".\\scripts\\backup\\" />
    <add key="XmlConfigDirectory" value=".\\config\\" />
    <add key="BotsConfigXml" value="bots.xml" />
    <add key="ChannelsConfigXml" value="channels.xml" />
    <add key="NetworksConfigXml" value="networks.xml" />
    <add key="PermissionsConfigXml" value="permissions.xml" />
    <add key="SecuritylevelsConfigXml" value="securitylevels.xml" />
    <add key="ServersConfigXml" value="servers.xml" />
    <add key="UsersConfigXml" value="users.xml" />
    <add key="PasswordHashAlgorithm" value="md5" />
  </appSettings>
  <applicationSettings>
    <IrcBot.GUI.Properties.Settings>
      <setting name="CommandCharacter" serializeAs="String">
        <value>#</value>
      </setting>
    </IrcBot.GUI.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <IrcBot.GUI.Properties.Settings>
      <setting name="PluginDirectory" serializeAs="String">
        <value>plugins</value>
      </setting>
    </IrcBot.GUI.Properties.Settings>
  </userSettings>
</configuration>